# Ejemplo de Secret (no incluir credenciales reales en repositorios públicos)
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: tarea-clase7
type: Opaque
stringData:
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: mipassword123

